<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018243657906-f2oa9lsjbq820aaeqnhrcgghbm86st2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018243657906-f2oa9lsjbq820aaeqnhrcgghbm86st2h</string>
	<key>API_KEY</key>
	<string>AIzaSyCprSJHz0flq2iV5AUBOcwrctG6AYozLig</string>
	<key>GCM_SENDER_ID</key>
	<string>1018243657906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectUas</string>
	<key>PROJECT_ID</key>
	<string>project-uas-f3d36</string>
	<key>STORAGE_BUCKET</key>
	<string>project-uas-f3d36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018243657906:ios:b66f557f5d01e6bec399ab</string>
</dict>
</plist>